body,
html {
    height: 100%;
    margin: 0;
}

#canvas {
    height: 100%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startBtn {
    color: #f2f2f2;
    font-family: "news-gothic-std";
    font-size: 2vw;
    background-color: rgba(0,0,0,0);
    border: none;
}

#startBtn:hover {
    color: black;
}


#overlay {
    background-color: black;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.scene {
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
    background-size: cover;
}

.btn {
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 10px 15px;
    margin: 10px;
    font-size: 1vw;
    cursor: pointer;
    display: inline-block;
}

@font-face {
    font-family: NorthwoodHigh;
    src: url("fonts/NorthwoodHigh.ttf");
}

.text-block {
    position: absolute;
    background-color: rgba(20, 20, 20, 0.6);
    color: white;
    padding: 5px 20px;
    animation: fade 3.5s;
    animation-delay: 2s;
    display: flex;
}

.bottom-left {
    position: absolute;
    bottom: 5%;
    margin-left: 5%;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    top: 2%;
    right: 2%;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.bottom-centered {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option {
    color: white;
    background-color: rgba(0,0,0,0);
    border: none;
    margin: 10px 20px;
}

.continue:hover {
    background-color: #f2f2f2;
    color: black;
}

.option:hover {
    background-color: #f2f2f2;
    color: black;
}

.story {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    animation: typing 3.5s steps(40, end);
    animation-delay: 2s;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes fade {
    from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes resetRotate{
    100% {transform: rotate(360deg)};
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}

.modal-backdrop {
   background-color: transparent;
}